---
import Footer from "../../components/Footer.astro";
import BodyProject from "../../components/InfoProject/BodyProject.astro";
import NameProject from "../../components/InfoProject/NameProject.astro";
import Layout from "../../layouts/Layout.astro";
import '@fontsource-variable/syne';
---

<Layout title="Proyectos - EquirentControl">
  <main class="flex flex-col items-center min-w-full pt-20 gap-14">
    <NameProject 
    title="Adminstrador de Rentas" 
    tech1="Laravel" 
    tech2="PHP" 
    tech3="MySQL" 
    rol="Desarrollador FullStack"
    />
    <BodyProject 
    text="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, debitis quisquam consequatur dolorum totam natus asperiores ipsum ad id sed nemo, exercitationem maxime quam ratione, officia error ducimus aut eaque. Ipsum quas quasi pariatur. Officia est aliquid esse sequi saepe atque et, dolores impedit dolorem dolor vitae nisi ipsam consequuntur rerum aut in minima reiciendis. Nisi placeat quisquam nobis corporis." 
    github="https://github.com/juanncu/proyectobic" 
    img="https://i.imgur.com/koQVwgW.png" 
    clasesGithub="bg-secondary-color rounded-xl w-max px-3 py-2 flex border border-secondary-color justify-center items-center hover:bg-teciary-color hover:border-green-lime duration-300" 
    clasesWeb="hidden bg-secondary-color rounded-xl w-max px-3 py-2 flex border border-secondary-color justify-center items-center hover:bg-teciary-color hover:border-green-lime duration-300"/>
  </main>
  <Footer/>
</Layout>