---
import Footer from "../../components/Footer.astro";
import BodyProject from "../../components/InfoProject/BodyProject.astro";
import NameProject from "../../components/InfoProject/NameProject.astro";
import Layout from "../../layouts/Layout.astro";
import '@fontsource-variable/syne';
---

<Layout title="Proyectos - EquirentControl">
  <main class="flex flex-col items-center min-w-full pt-20 gap-14">
    <NameProject 
    title="API-REST" 
    tech1="NodeJs" 
    tech2="ExpressJs" 
    tech3="MySQL" 
    rol="Desarrollador Backend"
    año="2024"
    />
    <BodyProject 
    parrafo1="EquirentControl es una aplicación web desarrollada con la finalidad de mejorar el flujo de trabajo de un negocio local llamado “EquiRent” dedicado a la renta de baños portátiles en la ciudad de Campeche, México."
    parrafo2="Participé en todo el proceso de desarrollo de este proyecto con un cargo de desarrollador fullstack, desde la toma de requerimientos hasta el desarrollo de diferentes tareas tanto en la parte del frontend como en la del backend."
    parrafo3="La aplicación le permite al negocio contar con un inventario de los baños con los que cuentan además de poder modificar información de los mismos. También permite tener una lista de los clientes y un historial de las rentas realizadas, pudiendo consultar las rentas que se encuentran activas, las que están a punto de vencer y las que ya finalizaron." 
    github="https://github.com/juanncu/nodejs-mysql-restapi-test" 
    img="https://i.imgur.com/URWA81V.png" 
    clasesGithub="bg-secondary-color rounded-xl w-max px-4 py-3 flex border border-terciary-color justify-center items-center hover:bg-teciary-color hover:border-green-lime duration-300" 
    clasesWeb="hidden bg-secondary-color rounded-xl w-max px-4 py-3 flex border border-terciary-color justify-center items-center hover:bg-teciary-color hover:border-green-lime duration-300"/>
  </main>
  <Footer/>
</Layout>