---
import Footer from "../../components/Footer.astro";
import BodyProject from "../../components/InfoProject/BodyProject.astro";
import NameProject from "../../components/InfoProject/NameProject.astro";
import Layout from "../../layouts/Layout.astro";
import '@fontsource-variable/syne';
---

<Layout title="Proyectos - Administración de servidores.">
  <main class="flex flex-col items-center min-w-full pt-12 xsm:pt-20 gap-14 px-4">
    <NameProject 
    title="Administración de servidores" 
    tech1="JavaScript" 
    tech2="HTML" 
    tech3="CSS" 
    rol="Desarrollador Frontend"
    />
    <BodyProject 
    parrafo1="Página web desarrollada con HTML, CSS y JavaScript como parte de una práctica de una asignatura de la carrera de ingeniería informática en el instituto tecnológico de Chiná."
    parrafo2="La página cuenta con información variada acerca sobre el uso y configuración de los servidores web, así como temas relacionados a ellos."
    github="https://github.com/juanncu/paginaAdminServ" 
    web="https://juanncu.github.io/paginaAdminServ/index.html"
    img="https://i.imgur.com/wmu937A.png" 
    clasesGithub="bg-secondary-color rounded-xl w-max px-4 py-3 flex border border-terciary-color justify-center items-center hover:bg-teciary-color hover:border-green-lime duration-300" 
    clasesWeb="bg-secondary-color rounded-xl w-max px-4 py-3 flex border border-terciary-color justify-center items-center hover:bg-teciary-color hover:border-green-lime duration-300"/>
  </main>
  <Footer/>
</Layout>