---
interface Props {
	classestodo: string
  classesback: string
  classesfull: string
  classesfront: string
}
const { classestodo, classesback, classesfull, classesfront } = Astro.props;
---

<div class="w-full h-max max-w-[1310px] flex flex-row gap-2 sm:gap-5 mt-12 flex-wrap">
  <a href="allProjects" class={classestodo}>Todo</a>
  <a href="allProjectsMobile" class={classesfull}>Móvil</a>
  <a href="allProjectsWeb" class={classesback}>Web</a>
</div>