---
import FilterProjects from "../components/AllProjects/FilterProjects.astro";
import CardProject from "../components/CardProject.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import '@fontsource-variable/syne';
---

<Layout title="Todos Los Proyectos - Backend">
  <header class="flex flex-col items-center">
		<Navbar/>
	</header>
  <main class="flex flex-col items-center min-w-full pt-44">
    <!-- titulo -->
    <h4 class="font-semibold text-5xl max-w-[1310px] w-full text-center">Todos mis trabajos.</h4>
    <!-- filtro -->
    <FilterProjects 
    classestodo="px-7 py-2 bg-secondary-color border font-syne font-semibold text-white border-terciary-color rounded-full hover:bg-terciary-color hover:text-green-lime hover:border-terciary-color duration-300"
    classesback="px-7 py-2 bg-terciary-color border font-syne font-semibold text-green-lime border-green-lime rounded-full hover:bg-terciary-color hover:text-green-lime hover:border-terciary-color duration-300"
    classesfull="px-7 py-2 bg-secondary-color border font-syne font-semibold text-white border-terciary-color rounded-full hover:bg-terciary-color hover:text-green-lime hover:border-terciary-color duration-300"
    classesfront="px-7 py-2 bg-secondary-color border font-syne font-semibold text-white border-terciary-color rounded-full hover:bg-terciary-color hover:text-green-lime hover:border-terciary-color duration-300"
    />
    <!-- cards -->
    <div class="max-w-[1310px] w-full grid gap-5 grid-cols-4 mt-9">
      <CardProject tech1="JavaScript" tech2="PHP" tech3="MySQL", linkPagina="infoProject/infoProjectTecnm" title="TecNM Software" text="Software de gestión académica enfocado en la agilización de procesos en las áreas de tutorias y actividades complementarias del instituto tecnológico de chiná." img1="https://i.imgur.com/FKEFaqW.jpg" img2="https://i.imgur.com/FKEFaqW.jpg"/>
      <CardProject tech1="NodeJs" tech2="ExpressJs" tech3="MySQL", linkPagina="infoProject/infoProjectAPIREST" title="API-REST" text="API rest desarrollada con nodejs y express que permite a un usuario agregar y manipular informacion de una base de datos SQL" img1="https://i.imgur.com/URWA81V.png" img2="https://i.imgur.com/URWA81V.png"/>
    </div>
  </main>
  <Footer/>
</Layout>