---
import FilterProjects from "../components/AllProjects/FilterProjects.astro";
import CardProjectWeb from "../components/CardProjectWeb.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import '@fontsource-variable/syne';
---

<Layout title="Todos Los Proyectos">
  <header class="flex flex-col items-center">
		<Navbar/>
	</header>
  <main class="flex flex-col items-center min-w-full pt-44">
    <!-- titulo -->
    <h4 class="font-semibold text-5xl max-w-[1310px] w-full text-center">Todos mis trabajos.</h4>
    <!-- filtro -->
    <FilterProjects 
    classesTodo="px-7 py-2 bg-secondary-color border font-syne font-semibold text-white border-terciary-color rounded-full hover:bg-terciary-color hover:text-green-lime hover:border-terciary-color duration-300"
    classesMovil="px-7 py-2 bg-secondary-color border font-syne font-semibold text-white border-terciary-color rounded-full hover:bg-terciary-color hover:text-green-lime hover:border-terciary-color duration-300"
    classesWeb="px-7 py-2 bg-terciary-color border font-syne font-semibold text-green-lime border-green-lime rounded-full hover:bg-terciary-color hover:text-green-lime hover:border-terciary-color duration-300"
    />
    <!-- cards -->
    <div class="max-w-[1310px] w-full grid gap-5 grid-cols-4 mt-9">
      <CardProjectWeb tech1="NodeJs" tech2="ExpressJs" tech3="MySQL", linkPagina="infoProject/infoProjectEquirent" title="EquirentControl" text="Aplicación web desarrollada para ayudar a llevar un control de las principales actividades de un negocio dedicado a la renta de baños." img1="https://i.imgur.com/zRQL2jp.png" img2="https://i.imgur.com/ivKS5X0.jpg"/>
      <CardProjectWeb tech1="JavaScript" tech2="PHP" tech3="MySQL", linkPagina="infoProject/infoProjectTecnm" title="TecNM Software" text="Software de getión académica desarrollado para agilizar los procesos de las áreas de tutorias y actividades complementarias del instituto tecnológico de chiná." img1="https://i.imgur.com/FKEFaqW.jpg" img2="https://i.imgur.com/FKEFaqW.jpg"/>
    </div>
  </main>
  <Footer/>
</Layout>