---
import FilterProjects from "../components/AllProjects/FilterProjects.astro";
import CardProjectPhone from "../components/CardProjectPhone.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import '@fontsource-variable/syne';
---

<Layout title="Todos Los Proyectos">
  <header class="flex flex-col items-center">
		<Navbar/>
	</header>
  <main class="flex flex-col items-center min-w-full pt-44">
    <!-- titulo -->
    <h4 class="font-semibold text-5xl max-w-[1310px] w-full text-center">Todos mis trabajos.</h4>
    <!-- filtro -->
    <FilterProjects 
    classesTodo="px-7 py-2 bg-secondary-color border font-syne font-semibold text-white border-terciary-color rounded-full hover:bg-terciary-color hover:text-green-lime hover:border-terciary-color duration-300"
    classesMovil="px-7 py-2 bg-terciary-color border font-syne font-semibold text-green-lime border-green-lime rounded-full hover:bg-terciary-color hover:text-green-lime hover:border-terciary-color duration-300"
    classesWeb="px-7 py-2 bg-secondary-color border font-syne font-semibold text-white border-terciary-color rounded-full hover:bg-terciary-color hover:text-green-lime hover:border-terciary-color duration-300"
    />
    <!-- cards -->
    <div class="max-w-[1310px] w-full grid gap-5 grid-cols-4 mt-9">
      <CardProjectPhone tech1="Kotlin" tech2="Compose" tech3="Firebase", linkPagina="#project3" title="Imagify" text="Aplicación móvil que genera imagenes mediante el uso de inteligencia artifical en base a una breve descripción. " img1="https://i.imgur.com/FKEFaqW.jpg" img2="https://i.imgur.com/FKEFaqW.jpg"/>
      <CardProjectPhone tech1="Kotlin" tech2="Compose" tech3="Firebase", linkPagina="#project3" title="Imagify" text="Aplicación móvil que genera imagenes mediante inteligencia artifical en base a una breve descripción. " img1="https://i.imgur.com/FKEFaqW.jpg" img2="https://i.imgur.com/FKEFaqW.jpg"/>  
    </div>
  </main>
  <Footer/>
</Layout>