---
import Footer from '../components/Footer.astro';
import SubtitleContact from '../components/Home/SubtitleContact.astro'
import Contact from '../components/Home/Contact.astro'
import TimeLineExperience from '../components/Home/TimeLineExperience.astro';
import ProjectsHome from '../components/Home/ProjectsHome.astro';
import About from '../components/Home/About.astro';
import Techs from '../components/Home/Techs.astro';
import Hero from '../components/Home/Hero.astro'
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/syne';
---

<Layout title="Juan Antonio - Desarrollador móvil e ingeniero informático">
	<!-- encabezado -->
	<header id="inicio" class="flex flex-col items-center">
		<Navbar/>
		<Hero/>
	</header>
	<!-- CONTENT MAIN -->
	<main class="flex flex-col items-center">
		<!-- tecnologias -->
		<section class="max-w-[1310px] w-full flex flex-col gap-11 mt-[220px]">
			<Techs/>
		</section>
		<!-- ABOUT -->
		 <section class="max-w-[1310px] w-full flex flex-col items-center gap-11 pt-[140px]" id="sobremi">
			<h3 class="font-semibold text-5xl">Sobre mi</h3>
			<About/>
		 </section>
		 <!-- PROJECTS -->
			<section class="max-w-[1310px] w-full flex flex-col items-center gap-11 pt-[140px]" id="proyectoshome">
				<h3 class="font-semibold text-5xl">Proyectos seleccionados</h3>
				<ProjectsHome/>
			</section>
			<!-- EXPERIENCE -->
			<section class="max-w-[1310px] w-full flex flex-col items-center gap-11 pt-[140px]" id="experiencia">
				<h3 class="font-semibold text-5xl">Experiencia</h3>
				<TimeLineExperience/>
			</section>
			<!-- CONTACT -->
			<section class="max-w-[1310px] w-full flex flex-col items-center gap-11 pt-[140px]" id="contacto">
				<div class="w-full text-center flex flex-col gap-4">
					<SubtitleContact/>					
					<h3 class="font-semibold text-5xl leading-[70px]">¿Tienes un proyecto en mente? <br>
						Escribeme.</h3>
				</div>
				<Contact/>
			</section>
	</main>
	<Footer/>
</Layout>

