---
import Github from "../../../public/svgs/redes/Github.astro"
import Linkedin from "../../../public/svgs/redes/Linkedin.astro"

---

<div class="flex flex-col w-full bg-secondary-color rounded-[50px] px-[123px] py-[52px] items-center gap-[50px]  border border-terciary-color">
  <div class="w-[250px] h-[250px] border-[5px] border-terciary-color rounded-full overflow-hidden">
    <img src="https://i.imgur.com/xiskaWi.jpg" alt="juanncu" class="mt-[-20px]">
  </div>
  <p class="font-normal text-lg text-color-text2">Ingeniero informático y desarrollador de software especializado en el desarrollo de aplicaciones móviles. <br> He podido trabajar en proyectos de desarrollo web escribiendo código tanto en el lado del Backend como en el Frontend, sin embargo, actualmente estoy centrado en el desarrollo de aplicaciones móviles nativas con tecnologías como Kotlin y Jetpack Compose, así como también apps multiplataforma en donde utilizo principalmente Kotlin Multiplatform y Flutter. <br><br>Soy un apasionado por el mundo de la creación de aplicaciones móviles al que le gusta aprender cosas nuevas y que busca siempre estar actualizado con las últimas novedades del sector de la tecnología.</p>
  <div class="flex flex-row gap-3">
    <a href="https://www.linkedin.com/in/juanncu/" target="_blank" class="w-44 h-[70px] bg-secondary-color rounded-full flex justify-center items-center gap-4 text-lg border border-neutral-700 hover:bg-terciary-color hover:border-green-lime duration-300"><Linkedin/>Linkedin</a>
    <a href="https://github.com/juanncu" target="_blank" class="w-44 h-[70px] bg-secondary-color rounded-full flex justify-center items-center gap-4 text-lg border border-neutral-700 hover:bg-terciary-color hover:border-green-lime duration-300"><Github/>Github</a>
  </div>
</div>