---
import Github from "../../../public/svgs/redes/Github.astro"
import Linkedin from "../../../public/svgs/redes/Linkedin.astro"
---

<div class="flex flex-col w-full rounded-[50px] px-[30px] py-[30px] sm:px-[123px] sm:py-[52px] items-center gap-[30px] sm:gap-[50px] border border-terciary-color">
  <div class="w-[150px] h-[150px] sm:w-[250px] sm:h-[250px] border-[5px] border-terciary-color rounded-full overflow-hidden duration-300">
    <img src="https://i.imgur.com/xiskaWi.jpg" alt="antoniocauich" class="mt-[-20px]">
  </div>
  <p class="font-normal text-lg text-color-text2">Ingeniero informático y desarrollador de software especializado en el desarrollo web. <br> He tenido la oportunidad de trabajar en proyectos escribiendo código tanto en el lado del Backend como en el Frontend, en donde he podido medir mis habilidades y conocimientos como desarrollador, y que también me han ayudado a querer buscar una mejor versión de mi mismo. <br> El mundo de la tecnología y la creación de software es un área que me apasiona, y donde siempre busco aprender cosas nuevas y trato de estar los más actualizado posible.</p>
  <div class="flex flex-col sm:flex-row gap-3">
    <a href="https://www.linkedin.com/in/juanncu/" target="_blank" class="w-40 h-[63px] sm:w-44 sm:h-[70px] bg-primary-color rounded-full flex justify-center items-center gap-4 text-lg border border-green-lime hover:bg-secondary-color duration-300"><Linkedin/>Linkedin</a>
    <a href="https://github.com/juanncu" target="_blank" class="w-40 h-[63px] sm:w-44 sm:h-[70px] bg-primary-color rounded-full flex justify-center items-center gap-4 text-lg border border-green-lime hover:bg-secondary-color duration-300"><Github/>Github</a>
  </div>
</div>