---
import Email from "../../../public/svgs/redes/Email.astro"
import LabelHover from "../LabelHover.astro"
---
<!-- btns -->
<div class="flex flex-col gap-5 mt-7">
  <!-- btn email -->
  <div class="label w-max">
    <LabelHover title="juanncu9@gmail.com"/>
    <a href="mailto:juanncu9@gmail.com" target="_blank" class="w-[230px] h-[85px] sm:w-[245px] sm:h-[90px] bg-primary-color flex flex-row gap-[10px] text-lg sm:text-xl font-medium rounded-[50px] justify-center items-center border border-green-lime hover:bg-secondary-color duration-300"><Email/>Mandar correo</a>
  </div>
  
</div>