---
import Email from "../../../public/svgs/redes/Email.astro"
import Whatsapp from "../../../public/svgs/redes/Whatsapp.astro"
---
<!-- btns -->
<div class="flex flex-row gap-10 mt-6">
  <!-- btn email -->
  <div class="w-[290px] h-[88px] border border-terciary-color rounded-[50px] overflow-hidden flex flex-row">
    <a href="#email" class="w-[207px] h-full flex justify-center items-center bg-terciary-color font-syne text-lg font-semibold">Mandar email</a>
    <div class="w-[83px] h-full flex justify-center items-center">
      <Email/>
    </div>
  </div>
  <!-- btn whatsapp -->
  <div class="w-[290px] h-[88px] border border-terciary-color rounded-[50px] overflow-hidden flex flex-row">
    <div class="w-[83px] h-full flex justify-center items-center bg-terciary-color">
      <Whatsapp/>
    </div>
    <a href="#email" class="w-[207px] h-full flex justify-center items-center font-syne text-lg font-semibold">Enviar mensaje</a>
  </div>

</div>