---
import Download from "../../../public/svgs/Download.astro"
---

<div class="flex flex-col items-center max-w-[1310px] w-full gap-11 mt-[192px]">
  <div class="flex flex-row justify-center items-center gap-2 w-[226px] h-[46px] rounded-full border-[2px] border-secondary-color text-sm font-normal">
    <!-- <div class="w-[7px] h-[7px] rounded-full bg-green-lime animate-ping opacity-75"> -->
    <span class="relative flex h-[10px] w-[10px]">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-lime opacity-75"></span>
      <span class="relative inline-flex rounded-full h-[10px] w-[10px] bg-green-lime"></span>
    </span>
    <p>Disponible para trabajar</p>
  </div>

  <div class="text-center">
    <h2 class="font-syne font-medium text-3xl mb-4">Juan Antonio Cu Cauich</h2>
    <h1 class="font-syne font-bold text-8xl text-green-lime leading-[110px]">Desarrollador<br> Móvil</h1>
  </div>

  <a href="https://github.com/juanncu/juanncu-portafolio/blob/main/public/CV-JuanCu-DesarrolladorMovil.pdf?raw=true" class="w-[243px] h-[90px] bg-secondary-color flex flex-row gap-[10px] text-xl font-medium rounded-[50px] justify-center items-center border border-neutral-700 hover:bg-terciary-color hover:border-green-lime duration-300"><Download/> Descargar CV</a>
</div>