---
import Download from "../../../public/svgs/Download.astro"
---

<div class="flex flex-col items-center max-w-[1310px] min-w-full gap-8 sm:gap-11 mt-[120px] sm:mt-[130px] 2xl:mt-[200px]">
  <div class="flex flex-row justify-center items-center gap-2 w-[226px] h-[46px] rounded-full border-[2px] border-secondary-color text-sm font-normal">
    <!-- <div class="w-[7px] h-[7px] rounded-full bg-green-lime animate-ping opacity-75"> -->
    <span class="relative flex h-[10px] w-[10px]">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-lime opacity-75"></span>
      <span class="relative inline-flex rounded-full h-[10px] w-[10px] bg-green-lime"></span>
    </span>
    <p>Disponible para trabajar</p>
  </div>

  <div class="text-center max-w-[1310px]">
    <h2 class="font-syne font-medium text-2xl sm:text-3xl mb-4">Juan Antonio Cu Cauich</h2>
    <h1 class="font-syne font-bold text-[45px] sm:text-[80px] md:text-8xl text-green-lime leading-[50px] sm:leading-[110px] duration-300">Desarrollador <br>Fronted</h1>
  </div>

  <a href="https://github.com/juanncu/juanncu-portafolio/blob/main/public/CV-JuanCu-DesarrolladorFrontend.pdf?raw=true" class="w-[210px] h-[80px] sm:w-[243px] sm:h-[90px] bg-primary-color flex flex-row gap-[10px] text-lg sm:text-xl font-medium rounded-[50px] justify-center items-center border border-green-lime hover:bg-secondary-color hover:border-green-lime duration-300"><Download/> Descargar CV</a>
</div>