<div class="w-full grid gap-5 grid-cols-7">
  <div class="h-[386px] rounded-[40px] bg-secondary-color col-span-3"></div>
  <div class="h-[386px] rounded-[40px] bg-secondary-color col-span-4"></div>
  <div class="h-[386px] rounded-[40px] bg-secondary-color col-span-4"></div>
  <div class="h-[386px] rounded-[40px] bg-secondary-color col-span-3"></div>
</div>

<a href="#allProjrcts" class="w-[198px] h-[90px] text-2xl font-syne font-semibold text-white bg-secondary-color rounded-[50px] flex justify-center items-center mt-5 border border-terciary-color hover:bg-terciary-color hover:border-green-lime duration-300">Ver más</a>