---
import CardProject from "../CardProject.astro"
---
<div class="w-full grid gap-5 grid-cols-1 mmd:grid-cols-4">
  <CardProject tech1="NodeJs" tech2="ExpressJs" tech3="MySQL", linkPagina="infoProject/infoProjectEquirent" title="EquirentControl" text="Aplicación web desarrollada para ayudar a llevar un control de las principales actividades de un negocio dedicado a la renta de baños portátiles." img1="https://i.imgur.com/zRQL2jp.png" img2="https://i.imgur.com/ivKS5X0.jpg"/>
  <CardProject tech1="JavaScript" tech2="PHP" tech3="MySQL", linkPagina="infoProject/infoProjectTecnm" title="TecNM Software" text="Software de gestión académica enfocado en la agilización de procesos en las áreas de tutorías y actividades complementarias del instituto tecnológico de Chiná." img1="https://i.imgur.com/FKEFaqW.jpg" img2="https://i.imgur.com/FKEFaqW.jpg"/>
  <CardProject tech1="ExpressJs" tech2="Sequelize" tech3="MySQL", linkPagina="infoProject/infoProjectEventManagement" title="Event Management" text="Plataforma enfocada en la adminstración de eventos, permitiendo a los usuarios crear, unirse y gestionar actividades de cualquier tipo." img1="https://i.imgur.com/xibjn3d.png" img2="https://i.imgur.com/xibjn3d.png"/>
  <CardProject tech1="Laravel" tech2="PHP" tech3="MySQL", linkPagina="infoProject/infoProjectRentBici" title="Adminstrador de Rentas" text="Aplicación Fullstack que permite realizar un inventario y llevar el control de las rentas de bicicletas y equipo de ciclismo." img1="https://i.imgur.com/koQVwgW.png" img2="https://i.imgur.com/koQVwgW.png"/>  
</div>

<a href="allProjects" class="w-[260px] h-[90px] sm:w-[280px] sm:h-[100px] px-6 text-lg sm:text-2xl font-syne font-semibold text-center text-white bg-primary-color rounded-[50px] flex justify-center items-center mt-5 border border-green-lime hover:bg-secondary-color duration-300">Ver todos los proyectos</a>
