---
import CardProject from "../CardProject.astro"
---
<div class="w-full grid gap-5 grid-cols-1 mmd:grid-cols-4">
  <CardProject tech1="Kotlin" tech2="XML" tech3="Android", linkPagina="infoProject/infoProjectAppEjercicio" title="App para hacer ejercicio" text="Aplicación móvil nativa para el sistema operativo android desarrollada para llevar un control de la actividad física realizada por el usuario." img1="https://i.imgur.com/CYXnjq5.png" img2="https://i.imgur.com/CYXnjq5.png" cargo="Móvil"/>
  <CardProject tech1="Kotlin" tech2="Compose" tech3="Android", linkPagina="infoProject/infoProjectAppBancoUI" title="App de Banco UI" text="Aplicación móvil nativa para el sistema operativo android que simula una aplicación de banco, desarrollada para practicar el uso de Jetpack Compose." img1="https://i.imgur.com/vaDKkEc.png" img2="https://i.imgur.com/vaDKkEc.png" cargo="Móvil"/>
  <CardProject tech1="NodeJs" tech2="ExpressJs" tech3="MySQL", linkPagina="infoProject/infoProjectEquirent" title="EquirentControl" text="Aplicación web desarrollada para ayudar a llevar un control de las principales actividades de un negocio dedicado a la renta de baños portátiles." img1="https://i.imgur.com/zRQL2jp.png" img2="https://i.imgur.com/ivKS5X0.jpg" cargo="FullStack"/>
  <CardProject tech1="JavaScript" tech2="PHP" tech3="MySQL", linkPagina="infoProject/infoProjectTecnm" title="TecNM Software" text="Software de gestión académica enfocado en la agilización de procesos en las áreas de tutorías y actividades complementarias del instituto tecnológico de Chiná." img1="https://i.imgur.com/FKEFaqW.jpg" img2="https://i.imgur.com/FKEFaqW.jpg" cargo="Backend"/>  
</div>

<a href="allProjects" class="w-[260px] h-[90px] sm:w-[280px] sm:h-[100px] px-6 text-lg sm:text-2xl font-syne font-semibold text-center text-white bg-primary-color rounded-[50px] flex justify-center items-center mt-5 border border-green-lime hover:bg-secondary-color duration-300">Ver todos los proyectos</a>
