---
import CardProject from "../CardProject.astro"
---
<div class="w-full grid gap-5 grid-cols-4">
  <CardProject/>
  <CardProject/>
  <CardProject/>
  <CardProject/>  
</div>

<a href="#allProjrcts" class="w-[198px] h-[90px] text-2xl font-syne font-semibold text-white bg-primary-color rounded-[50px] flex justify-center items-center mt-5 border border-green-lime hover:bg-secondary-color duration-300">Ver más</a>

<!-- <style>
  div:hover > img {
    transform: scale(1.05);
    /* filter: brightness(.5); */
  }
</style> -->