---
import CardProject from "../CardProject.astro"
---
<div class="w-full grid gap-5 grid-cols-4">
  <CardProject tech1="NodeJs" tech2="ExpressJs" tech3="MySQL", linkPagina="infoProject/infoProjectEquirent" title="EquirentControl" text="Aplicación web desarrollada para ayudar a llevar un control de las principales actividades de un negocio dedicado a la renta de baños." img1="https://i.imgur.com/zRQL2jp.png" img2="https://i.imgur.com/ivKS5X0.jpg"/>
  <CardProject tech1="JavaScript" tech2="PHP" tech3="MySQL", linkPagina="infoProject/infoProjectTecnm" title="TecNM Software" text="Software de getión académica desarrollado para agilizar los procesos de las áreas de tutorias y actividades complementarias del instituto tecnológico de chiná." img1="https://i.imgur.com/FKEFaqW.jpg" img2="https://i.imgur.com/FKEFaqW.jpg"/>
  <CardProject tech1="Kotlin" tech2="Compose" tech3="Firebase", linkPagina="#project3" title="Imagify" text="Aplicación móvil que genera imagenes mediante el uso de inteligencia artifical en base a una breve descripción. " img1="https://i.imgur.com/FKEFaqW.jpg" img2="https://i.imgur.com/FKEFaqW.jpg"/>
  <CardProject tech1="Kotlin" tech2="Compose" tech3="Firebase", linkPagina="#project3" title="Imagify" text="Aplicación móvil que genera imagenes mediante inteligencia artifical en base a una breve descripción. " img1="https://i.imgur.com/FKEFaqW.jpg" img2="https://i.imgur.com/FKEFaqW.jpg"/>  
</div>

<a href="allProjects" class="w-[280px] h-[100px] text-2xl font-syne font-semibold text-center text-white bg-primary-color rounded-[50px] flex justify-center items-center mt-5 border border-green-lime hover:bg-secondary-color duration-300">Ver todos los proyectos</a>
