<div class="w-full grid grid-cols-2 grid-rows-2 gap-5">
  <div class="h-[386px] rounded-[40px] bg-secondary-color"></div>
  <div class="h-[386px] rounded-[40px] bg-secondary-color"></div>
  <div class="h-[386px] rounded-[40px] bg-secondary-color"></div>
  <div class="h-[386px] rounded-[40px] bg-secondary-color"></div>
</div>