<div class="flex flex-row w-full justify-center items-center gap-8">
  <div class="w-[260px] h-[1px] bg-white"></div>
  <p class="text-2xl font-bold font-syne text-green-lime">Contacto</p>
  <div class="w-[260px] h-[1px] bg-white"></div>
</div>