---
import LabelHover from "../LabelHover.astro"
import Node from "../../../public/svgs/techs/Node.astro"
import Laravel from "../../../public/svgs/techs/Laravel.astro"
import Typescript from "../../../public/svgs/techs/Typescript.astro"
import Express from "../../../public/svgs/techs/Express.astro"
import Nest from "../../../public/svgs/techs/Nest.astro"
import Docker from "../../../public/svgs/techs/Docker.astro"
---
<!-- title secction -->
<div class="flex flex-row min-w-full justify-center items-center gap-6 sm:gap-8">
  <div class="w-[260px] h-[1px] bg-white"></div>
  <p class="text-xl sm:text-2xl font-bold font-syne">Tecnologías</p>
  <div class="w-[260px] h-[1px] bg-white"></div>
</div>
<!-- svgs techs -->
<div class="flex flex-row gap-5 sm:gap-12 min-w-full flex-wrap justify-center items-center">
  <!-- Nestjs -->
  <div class="label">
    <LabelHover title="NestJs"/>
    <Nest/>
  </div>
  <!-- Express -->
  <div class="label">
    <LabelHover title="ExpressJs"/>
    <Express/>    
  </div>
  <!-- Nodejs -->
  <div class="label">
    <LabelHover title="NodeJs"/>
    <Node/>
  </div>
  <!-- TypeScript -->
  <div class="label">
    <LabelHover title="TypeScript"/>
    <Typescript/>
  </div>
  <!-- Laravel -->
  <div class="label">
    <LabelHover title="Laravel"/>
    <Laravel/>
  </div>
  <!-- Docker -->
  <div class="label">
    <LabelHover title="Docker"/>
    <Docker/>
  </div>
</div>