---
import LabelHover from "../LabelHover.astro"
import Typescript from "../../../public/svgs/techs/Typescript.astro"
import Laravel from "../../../public/svgs/techs/Laravel.astro"
import Express from "../../../public/svgs/techs/Express.astro"
import Nestjs from "../../../public/svgs/techs/nestjs.astro"
import Nodejs from "../../../public/svgs/techs/nodejs.astro"
import Php from "../../../public/svgs/techs/Php.astro"
---
<!-- title secction -->
<div class="flex flex-row min-w-full justify-center items-center gap-6 sm:gap-8">
  <div class="w-[260px] h-[1px] bg-white"></div>
  <p class="text-xl sm:text-2xl font-bold font-syne">Tecnologías</p>
  <div class="w-[260px] h-[1px] bg-white"></div>
</div>
<!-- svgs techs -->
<div class="flex flex-row gap-5 sm:gap-12 min-w-full flex-wrap justify-center items-center">
    <!-- Nestjs -->
  <div class="label">
    <LabelHover title="Nestjs"/>
    <Nestjs/>    
  </div>
  <!-- Nodejs -->
  <div class="label">
    <LabelHover title="Nodejs"/>
    <Nodejs/>
  </div>
  <!-- Typescript -->
  <div class="label">
    <LabelHover title="Typescript"/>
    <Typescript/>
  </div>
  <!-- Express -->
  <div class="label">
    <LabelHover title="Express"/>
    <Express/>
  </div>
  <!-- Laravel -->
  <div class="label">
    <LabelHover title="Laravel"/>
    <Laravel/>
  </div>
  <!-- Php -->
  <div class="label">
    <LabelHover title="Php"/>
    <Php/>
  </div>
</div>