---
import LabelHover from "../LabelHover.astro"
import Nodejs from "../../../public/svgs/techs/Nodejs.astro"
import Nestjs from "../../../public/svgs/techs/Nestjs.astro"
import Typescript from "../../../public/svgs/techs/Typescript.astro"
import Express from "../../../public/svgs/techs/Express.astro"
import Postgresql from "../../../public/svgs/techs/Postgresql.astro"
import Mysql from "../../../public/svgs/techs/Mysql.astro"
---
<!-- title secction -->
<div class="flex flex-row min-w-full justify-center items-center gap-6 sm:gap-8">
  <div class="w-[260px] h-[1px] bg-white"></div>
  <p class="text-xl sm:text-2xl font-bold font-syne">Tecnologías</p>
  <div class="w-[260px] h-[1px] bg-white"></div>
</div>
<!-- svgs techs -->
<div class="flex flex-row gap-5 sm:gap-12 w-full justify-center items-end">
  <!-- KOTLIN -->
  <div class="label">
    <LabelHover title="NestJs"/>
    <Nestjs/>
  </div>
  <!-- COMPOSE -->
  <div class="label">
    <LabelHover title="NodeJs"/>
    <Nodejs/>
  </div>
  <!-- ANDROID -->
  <div class="label">
    <LabelHover title="TypeScript"/>
    <Typescript/>
  </div>
  <!-- FIREBASE -->
  <div class="label">
    <LabelHover title="ExpressJs"/>
    <Express/>
  </div>
  <!-- FLUTTER -->
  <div class="label">
    <LabelHover title="PostreSQL"/>
    <Postgresql/>
  </div>
  <!-- DART -->
  <div class="label">
    <LabelHover title="MySQL"/>
    <Mysql/>
  </div>
</div>