---
import LabelHover from "../LabelHover.astro"
import Next from "../../../public/svgs/techs/Nextjs.astro"
import Tailwind from "../../../public/svgs/techs/Tailwind.astro"
import Typescript from "../../../public/svgs/techs/Typescript.astro"
import React from "../../../public/svgs/techs/Reactjs.astro"
import Redux from "../../../public/svgs/techs/Redux.astro"
import Sass from "../../../public/svgs/techs/Sass.astro"
---
<!-- title secction -->
<div class="flex flex-row min-w-full justify-center items-center gap-6 sm:gap-8">
  <div class="w-[260px] h-[1px] bg-white"></div>
  <p class="text-xl sm:text-2xl font-bold font-syne">Tecnologías</p>
  <div class="w-[260px] h-[1px] bg-white"></div>
</div>
<!-- svgs techs -->
<div class="flex flex-row gap-5 sm:gap-12 min-w-full flex-wrap justify-center items-center">
  <!-- KOTLIN -->
  <div class="label">
    <LabelHover title="NextJs"/>
    <Next/>
    
  </div>
  <!-- TypeScript -->
  <div class="label">
    <LabelHover title="TypeScript"/>
    <Typescript/>
  </div>
  <!-- ReactJs -->
  <div class="label">
    <LabelHover title="ReactJs"/>
    <React/>
  </div>
  <!-- Tailwind -->
  <div class="label">
    <LabelHover title="TailwindCSS"/>
    <Tailwind/>    
  </div>
  <!-- FLUTTER -->
  <div class="label">
    <LabelHover title="Redux"/>
    <Redux/>
  </div>
  <!-- Supabase -->
  <div class="label">
    <LabelHover title="SASS"/>
    <Sass/>
  </div>
</div>