---
import LabelHover from "../LabelHover.astro"
import Flutter from "../../../public/svgs/techs/Flutter.astro"
import Firebase from "../../../public/svgs/techs/Firebase.astro"
import Android from "../../../public/svgs/techs/Android.astro"
import Kotlin from "../../../public/svgs/techs/Kotlin.astro"
import Compose from "../../../public/svgs/techs/Compose.astro"
import Supabase from "../../../public/svgs/techs/Supabase.astro"
---
<!-- title secction -->
<div class="flex flex-row min-w-full justify-center items-center gap-6 sm:gap-8">
  <div class="w-[260px] h-[1px] bg-white"></div>
  <p class="text-xl sm:text-2xl font-bold font-syne">Tecnologías</p>
  <div class="w-[260px] h-[1px] bg-white"></div>
</div>
<!-- svgs techs -->
<div class="flex flex-row gap-5 sm:gap-12 min-w-full flex-wrap justify-center items-center">
    <!-- Kotlin -->
  <div class="label">
    <LabelHover title="Kotlin"/>
    <Kotlin/>    
  </div>
  <!-- Compose -->
  <div class="label">
    <LabelHover title="Compose"/>
    <Compose/>
  </div>
  <!-- Android -->
  <div class="label">
    <LabelHover title="Android"/>
    <Android/>
  </div>
  <!-- Flutter -->
  <div class="label">
    <LabelHover title="Flutter"/>
    <Flutter/>
  </div>
  <!-- Firebase -->
  <div class="label">
    <LabelHover title="Firebase"/>
    <Firebase/>
  </div>
  <!-- Supabase -->
  <div class="label">
    <LabelHover title="Supabase"/>
    <Supabase/>
  </div>
</div>