---
import LabelHover from "../LabelHover.astro"
import Redux from "../../../public/svgs/techs/Redux.astro"
import Remix from "../../../public/svgs/techs/Remix.astro"
import Typescript from "../../../public/svgs/techs/Typescript.astro"
import Next from "../../../public/svgs/techs/Next.astro"
import React from "../../../public/svgs/techs/React.astro"
import Docker from "../../../public/svgs/techs/Docker.astro"
---
<!-- title secction -->
<div class="flex flex-row min-w-full justify-center items-center gap-6 sm:gap-8">
  <div class="w-[260px] h-[1px] bg-white"></div>
  <p class="text-xl sm:text-2xl font-bold font-syne">Tecnologías</p>
  <div class="w-[260px] h-[1px] bg-white"></div>
</div>
<!-- svgs techs -->
<div class="flex flex-row gap-5 sm:gap-12 min-w-full flex-wrap justify-center items-center">
    <!-- NextJs -->
  <div class="label">
    <LabelHover title="NextJs"/>
    <Next/>    
  </div>
  <!-- ReactJs -->
  <div class="label">
    <LabelHover title="ReactJs"/>
    <React/>
  </div>
  <!-- Redux -->
  <div class="label">
    <LabelHover title="Redux"/>
    <Redux/>
  </div>
  <!-- TypeScript -->
  <div class="label">
    <LabelHover title="TypeScript"/>
    <Typescript/>
  </div>
  <!-- Remix -->
  <div class="label">
    <LabelHover title="Remix"/>
    <Remix/>
  </div>
  <!-- Docker -->
  <div class="label">
    <LabelHover title="Docker"/>
    <Docker/>
  </div>
</div>