<div class="w-full flex flex-col gap-5">
  <!-- card1 -->
  <section class="w-full flex flex-row justify-between border border-terciary-color gap-7 px-10 py-10 rounded-[40px] flex-wrap">
    <div class="flex flex-col gap-2">
      <h4 class="font-extrabold text-2xl text-green-lime">Mobile Developer.</h4>
      <h5 class="font-bold text-base text-color-text2 text leading-8">
        Profesional Independiente. <br>
        2024 - Actualidad
      </h5>
    </div>
    <p class="hidden md:block w-[1100px] xl:w-[850px] font-normal text-lg text-white duration-500">
      ● Desarrollo aplicaciones móviles para clientes que necesitan una herramienta que les permita la
      solución y agilización de procesos. <br>
      ● Genero la estructura y el flujo que va a tener la aplicación en base a los requerimientos
      establecidos, para posteriormente realizar el diseño de la aplicación. <br>
      ● Implemento patrones de arquitectura como MVVM para el desarrollo de las aplicaciones, lo cual
      me permite tener un orden y una estructura en el proyecto. 
    </p>
  </section>
  <!-- card 2 -->
  <section class="w-full flex flex-row justify-between border border-terciary-color gap-7 px-10 py-10 rounded-[40px] flex-wrap">
    <div class="flex flex-col gap-2">
      <h4 class="font-extrabold text-2xl text-green-lime">Frontend Developer.</h4>
      <h5 class="font-bold text-base text-color-text2 text leading-8">
        Vopper.<br>
        2024 
      </h5>
    </div>
    <p class="hidden md:block w-[1100px] xl:w-[850px] font-normal text-lg text-white duration-500">
      Soy parte del equipo de desarrollo de una aplicación e-learning en Vopper con un cargo de desarrollador frontend. <br>
      ● Mi principal tarea es participar en el desarrollo de la interfaz de usuario de la aplicación siguiendo el diseño ya establecido utilizando tecnologías como React, NextJs y TailwindCSS. <br>
      ● También trato de aportar ideas que permitan la mejora de los procesos en el desarrollo de la aplicación.
    </p>
  </section>  
</div>