<div class="flex flex-row justify-between w-full h-max overflow-hidden">
  <!-- line -->
  <div class="flex flex-row ">
    <div class="h-full w-[2px] bg-terciary-color ml-2"></div>
    <div class="flex flex-col gap-[390px] mt-12 ml-[-10px]">
      <div class="w-5 h-5 bg-green-lime rounded-full"></div>
      <div class="w-5 h-5 bg-green-lime rounded-full"></div>
    </div>
    
  </div>
  <div class="flex flex-col gap-8">
    <!-- card1 -->
    <section class="w-[1238px] bg-secondary-color rounded-[40px] border border-terciary-color py-9 px-[106px] flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <h4 class="font-extrabold text-2xl">Desarrollador Móvil</h4>
        <h5 class="font-bold text-base text leading-8">
          Independiente. <br>
          2024 - Actualidad
        </h5>
      </div>
      <p class="font-normal text-lg text-color-text2">
        Soy desarrollador de aplicaciones móviles de manera independiente para clientes, buscando ayudar en la mejora de sus negocios a través de herramientas tecnológicas. <br>
        Implemento metodologías y patrones de arquitectura como el MVVM para la mejora en el desarrollo de las aplicaciones, logrando reducir errores y simplificar las pruebas unitarias hasta en un 80%, además, según las necesidades del cliente, analizo que tecnologías son las adecuadas para el desarrollo de la aplicación, eligiendo entre herramientas nativas o multiplataforma. 
      </p>
    </section>
    <!-- card2 -->
    <section class="w-[1238px] bg-secondary-color rounded-[40px] border border-terciary-color py-9 px-[106px] flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <h4 class="font-extrabold text-2xl">Desarrollador Backend</h4>
        <h5 class="font-bold text-base text leading-8">
          TecNM. <br>
          2023 - 2023
        </h5>
      </div>
      <p class="font-normal text-lg text-color-text2">
        Formé parte del desarrollo de un software de gestión académica durante el tiempo que estuve cursando la carrera de ingeniería informática. <br>
        Me encargué de desarrollar toda la lógica detrás del área de “actividades académicas” creando la API y los endpoints necesarios para comunicar el servidor y la base de datos con el frontend usando php como lenguaje de programación, participé en la optimización de las consultas a la base de datos utilizando MySQL, logrando mejorar el rendimiento y la seguridad hasta en un 80% y trabajé junto al equipo de frontend para integrar y consumir APIs de una manera eficiente. 
      </p>
    </section>
  </div>
</div>