<div class="w-full flex flex-col gap-5">
  <section class="w-full flex flex-row justify-between border border-terciary-color gap-7 px-10 py-10 rounded-[40px] flex-wrap">
    <div class="flex flex-col gap-2">
      <h4 class="font-extrabold text-2xl text-green-lime">Frontend Developer</h4>
      <h5 class="font-bold text-base text-color-text2 text leading-8">
        Vopper.<br>
        2024 - Actualidad
      </h5>
    </div>
    <p class="hidden md:block w-[1100px] xl:w-[850px] font-normal text-lg text-white duration-500">
      Formo parte del equipo de desarrollo de una aplicación e-learning en Vopper con un cargo de desarrollador frontend. <br>
      ● Mi principal tarea es participar en el desarrollo de la interfaz de usuario de la aplicación siguiendo el diseño ya establecido utilizando tecnologías como React, NextJs y TailwindCSS. <br>
      ● También trato de aportar ideas que permitan la mejora de los procesos en el desarrollo de la aplicación
    </p>
  </section>
  <!-- card1 -->
  <section class="w-full flex flex-row justify-between border border-terciary-color gap-7 px-10 py-10 rounded-[40px] flex-wrap">
    <div class="flex flex-col gap-2">
      <h4 class="font-extrabold text-2xl text-green-lime">Desarrollador Backend</h4>
      <h5 class="font-bold text-base text-color-text2 text leading-8">
        TecNM. <br>
        2022 - 2023
      </h5>
    </div>
    <p class="hidden md:block w-[1100px] xl:w-[850px] font-normal text-lg text-white duration-500">
      Formé parte del desarrollo de un software de gestión académica durante el tiempo que estuve cursando la carrera de ingeniería informática. <br>
      ● Me encargué de desarrollar toda la lógica detrás del área de “actividades académicas” creando la API y los endpoints necesarios para comunicar el servidor y la base de datos con el frontend usando PHP como lenguaje de programación. <br>
      ● Participé en la optimización de las consultas a la base de datos utilizando MySQL, logrando mejorar el rendimiento y la seguridad hasta en un 80%. <br>
      ● Trabajé junto al equipo de frontend para integrar y consumir APIs de una manera eficiente. 
    </p>
  </section>
  
</div>