<div class="h-[680px] rounded-[40px] bg-secondary-color col-span-2 overflow-hidden border border-terciary-color px-12 py-8">
  <div class="flex flex-col gap-4">
    <div class="w-full flex flex-row items-center justify-between">
      <div class="flex flex-row gap-3">
        <div class="font-syne h-max font-medium text-base px-3 py-1 border-2 border-terciary-color rounded-xl">Kotlin</div>
        <div class="font-syne h-max font-medium text-base px-3 py-1 border-2 border-terciary-color rounded-xl">Compose</div>
        <div class="font-syne h-max font-medium text-base px-3 py-1 border-2 border-terciary-color rounded-xl">Firebase</div>
      </div>
      <a href="" class="font-medium text-lg px-8 py-4 bg-secondary-color border border-green-lime rounded-full hover:bg-terciary-color">Ver más</a>
    </div>
    <div class="flex flex-col gap-[10px]">
      <h6 class="font-bold text-2xl">EquirentControl</h6>
      <p class="font-medium text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum sit consectetur consequuntur voluptates ut facilis quasi?</p>
    </div>
  </div>
  <div>
    <img src="https://i.imgur.com/FKEFaqW.jpg" alt="img2" class="w-[410px] rounded-[10px] -rotate-6 relative top-4 left-40 opacity-75">
    <img src="https://i.imgur.com/FKEFaqW.jpg" alt="img1" class="w-[410px] rounded-[10px] -rotate-6 relative bottom-32 right-5">
    
  </div>
</div>