---
import Github from "../../public/svgs/redes/GithubFooter.astro"
import Instagram from "../../public/svgs/redes/Instagram.astro"
import Linkedin from "../../public/svgs/redes/LinkedinFooter.astro"
import Twitter from "../../public/svgs/redes/Twitter.astro"
---

<footer class="w-full h-[143px] bg-secondary-color mt-[200px]">
  <div class="max-w-[1310px] w-full h-full flex flex-row mx-auto justify-between items-center">
    <p class="font-bold text-base text-color-text2">© 2024, portafolio desarrollado con Astro por Juan Antonio Cu. Casi todos los derechos reservados.</p>
    <div class="flex flex-row items-center gap-3">
      <a href=""><Instagram/></a>
      <a href=""><Twitter/></a>
      <a href=""><Linkedin/></a>
      <a href=""><Github/></a>
    </div>
  </div>
</footer>