---
import Github from "../../public/svgs/redes/GithubFooter.astro"
import Instagram from "../../public/svgs/redes/Instagram.astro"
import Linkedin from "../../public/svgs/redes/LinkedinFooter.astro"
import Twitter from "../../public/svgs/redes/Twitter.astro"
---

<footer class="w-full py-11 px-10 bg-secondary-color mt-[100px] sm:mt-[200px] border-t border-t-terciary-color">
  <div class="max-w-[1310px] w-full h-full flex flex-col gap-7 justify-center mx-auto items-center">
    <p class="font-semibold text-base text-color-text2 text-center">© 2024, portafolio desarrollado con Astro por Juan Antonio Cu. Casi todos los derechos <br> reservados.</p>
    <div class="flex flex-row items-center gap-3">
      <a href="https://www.instagram.com/juanncu_/" target="_blank" class="hover:scale-110 duration-500"><Instagram/></a>
      <a href="https://x.com/juanncu_" target="_blank" class="hover:scale-110 duration-500"><Twitter/></a>
      <a href="https://www.linkedin.com/in/juanncu/" target="_blank" class="hover:scale-110 duration-500"><Linkedin/></a>
      <a href="https://github.com/juanncu" target="_blank" class="hover:scale-110 duration-500"><Github/></a>
    </div>
  </div>
</footer>