---
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<!-- LABEL -->
<div class="tooltip w-max flex flex-col items-center ml-2 relative opacity-0 pointer-events-none duration-200">
  <div class="w-5 h-5 bg-terciary-color rotate-45 mt-[-40px]"></div>
  <div class="w-max bg-terciary-color absolute top-[-70px] font-medium text-lg py-2 px-4 rounded-full text-green-lime">
    {title}
  </div>
</div>