<nav class="bg-[#23282D]/70 w-[918px] h-[74px] rounded-full font-medium text-lg text-color-text2 flex flex-row border border-neutral-700/40 justify-center items-center gap-7 mt-2 fixed z-30 backdrop-blur-3xl">
  <a href="./#inicio" class="px-4 py-2 rounded-full hover:bg-green-lime hover:text-primary-color duration-300">Inicio</a>
  <a href="./#sobremi" class="px-4 py-2 rounded-full hover:bg-green-lime hover:text-primary-color duration-300">Sobre mí</a>
  <a href="./#proyectoshome" class="px-4 py-2 rounded-full hover:bg-green-lime hover:text-primary-color duration-300">Proyectos</a>
  <a href="./#experiencia" class="px-4 py-2 rounded-full hover:bg-green-lime hover:text-primary-color duration-300">Experiencia</a>
  <a href="./#contacto" class="px-4 py-2 rounded-full hover:bg-green-lime hover:text-primary-color duration-300">Contacto</a>
</nav>