<nav class="bg-terciary-color w-[918px] h-[74px] rounded-full font-normal text-lg text-white flex flex-row justify-center items-center gap-12 mt-4 fixed z-30">
  <a href="/">Inicio</a>
  <a href="#sobremi">Sobre mi</a>
  <a href="#proyectoshome">Proyectos</a>
  <a href="#experiencia">Experiencia</a>
  <a href="#contacto">Contacto</a>
</nav>