<nav class="bg-[#23282D]/75 w-[96%] h-[60px] rounded-full font-medium text-sm sm:text-lg text-color-text2 flex-row border border-neutral-700/40 justify-center items-center mt-2 fixed z-30 backdrop-blur-3xl lg:w-[918px] md:h-[74px] md:gap-7 flex">
  <a href="./#inicio" class="px-1 py-1 sm:px-4 sm:py-2 rounded-full hover:bg-green-lime hover:text-primary-color duration-300">Inicio</a>
  <a href="./#sobremi" class="px-1 py-1 sm:px-4 sm:py-2 rounded-full hover:bg-green-lime hover:text-primary-color duration-300">Sobre mí</a>
  <a href="./#proyectoshome" class="px-1 py-1 sm:px-4 sm:py-2 rounded-full hover:bg-green-lime hover:text-primary-color duration-300">Proyectos</a>
  <a href="./#experiencia" class="px-1 py-1 sm:px-4 sm:py-2 rounded-full hover:bg-green-lime hover:text-primary-color duration-300">Experiencia</a>
  <a href="./#contacto" class="px-1 py-1 sm:px-4 sm:py-2 rounded-full hover:bg-green-lime hover:text-primary-color duration-300">Contacto</a>
</nav>